.place__website {
    display: flex;
    flex-direction: column;
    align-self: end;
    max-width: 456px;
}
.place__website:hover {
    opacity: 0.8;
    transition: opacity 0.5s;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .place__website {
        max-width: 288px;
        padding: 0 16px;
    }
}
