.intro__text {
    margin: 0;
    max-width: 690px;
    padding-left: 148px;
    padding-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: white;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro__text {
        padding-left: 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro__text {
        padding-left: 24px;
        max-width: 720px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro__text {
        padding-left: 16px;
        max-width: 288px;
        padding-right: 16px;
    }
}
